---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - "<TOKEN>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 26 Apr 2018 19:36:44 GMT
      Ml:
      - A
      Status:
      - 200 OK
      X-Connection-Hash:
      - ec82d9abb1374c7fcff68b47ec83befe
      X-Response-Time:
      - '136'
      X-Transaction:
      - 00ff8d3f00355fab
      X-Tsa-Request-Body-Time:
      - '0'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"token_type":"bearer","access_token":"AAAAAAAAAAAAAAAAAAAAAFgYCQAAAAAA8Jvm2Ln8cJJnGX8ndCWg%2F9Fyt7U%3DFLi0WSOekrITfy2XqWrkJdTi8yKqPvMOipiugk9thYnJNWPPFf"}'
  recorded_at: Thu, 26 Apr 2018 19:36:44 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=10&q=cute%20capybara&result_type=recent&since_id=989486102154182657
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 26 Apr 2018 19:36:44 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 54af3849c8f5282d97054629dd12b5ce
      X-Rate-Limit-Limit:
      - '450'
      X-Rate-Limit-Remaining:
      - '446'
      X-Rate-Limit-Reset:
      - '1524771671'
      X-Response-Time:
      - '145'
      X-Transaction:
      - 00ee531500b36e7d
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"statuses":[],"search_metadata":{"completed_in":0.034,"max_id":989589048363798530,"max_id_str":"989589048363798530","query":"cute+capybara","refresh_url":"?since_id=989589048363798530&q=cute%20capybara&result_type=recent&include_entities=1","count":10,"since_id":989486102154182657,"since_id_str":"989486102154182657"}}'
  recorded_at: Thu, 26 Apr 2018 19:36:44 GMT
recorded_with: VCR 4.0.0
