---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - "<TOKEN>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 26 Apr 2018 21:37:13 GMT
      Ml:
      - A
      Status:
      - 200 OK
      X-Connection-Hash:
      - 81b41ebe89289455efccdd748ba2158b
      X-Response-Time:
      - '116'
      X-Transaction:
      - 00d929f200732360
      X-Tsa-Request-Body-Time:
      - '0'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"token_type":"bearer","access_token":"AAAAAAAAAAAAAAAAAAAAAFgYCQAAAAAA8Jvm2Ln8cJJnGX8ndCWg%2F9Fyt7U%3DFLi0WSOekrITfy2XqWrkJdTi8yKqPvMOipiugk9thYnJNWPPFf"}'
  recorded_at: Thu, 26 Apr 2018 21:37:13 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=10&max_id=988849425010384896&q=cute%20capybara
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 26 Apr 2018 21:37:14 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 4885a0771c33c5915ff80b586892bb23
      X-Rate-Limit-Limit:
      - '450'
      X-Rate-Limit-Remaining:
      - '436'
      X-Rate-Limit-Reset:
      - '1524778880'
      X-Response-Time:
      - '222'
      X-Transaction:
      - '00884c2500b03af5'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"statuses":[{"created_at":"Tue Apr 24 18:37:29 +0000 2018","id":988849425010384896,"id_str":"988849425010384896","text":"Mais
        uma das 8 capivarinhas que vivem l\u00e1 no lago do \u2665\ufe0f\n.\n.\n.\n#capybara
        #cute #babies #inlove\u2026 https:\/\/t.co\/TlBIn8eKFB","truncated":false,"entities":{"hashtags":[{"text":"capybara","indices":[61,70]},{"text":"cute","indices":[71,76]},{"text":"babies","indices":[77,84]},{"text":"inlove","indices":[85,92]}],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/TlBIn8eKFB","expanded_url":"https:\/\/www.instagram.com\/p\/Bh9qgzdleyS\/","display_url":"instagram.com\/p\/Bh9qgzdleyS\/","indices":[94,117]}]},"metadata":{"iso_language_code":"pt","result_type":"recent"},"source":"\u003ca
        href=\"http:\/\/instagram.com\" rel=\"nofollow\"\u003eInstagram\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":2181465676,"id_str":"2181465676","name":"Fabiane
        Biscaya","screen_name":"Misanthropearl","location":"Earth ","description":"Veterinary
        Medicine student, animal rights, nature, Japan, misanthrope girl and crazy
        dog lady. Trying to minimise the suffering of sentient beings. \u2661\u266a","url":"https:\/\/t.co\/D3EZYwgmw9","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/D3EZYwgmw9","expanded_url":"https:\/\/www.instagram.com\/fabia.nyan\/?hl=pt-br","display_url":"instagram.com\/fabia.nyan\/?hl\u2026","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":208,"friends_count":488,"listed_count":2,"created_at":"Fri
        Nov 15 02:49:28 +0000 2013","favourites_count":1423,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":555,"lang":"pt","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"B8652E","profile_background_image_url":"http:\/\/pbs.twimg.com\/profile_background_images\/378800000146507931\/bD3b6B3Y.jpeg","profile_background_image_url_https":"https:\/\/pbs.twimg.com\/profile_background_images\/378800000146507931\/bD3b6B3Y.jpeg","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/763908075015249920\/2cXL9YLf_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/763908075015249920\/2cXL9YLf_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/2181465676\/1456773549","profile_link_color":"C7967A","profile_sidebar_border_color":"FFFFFF","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":true,"default_profile":false,"default_profile_image":false,"following":null,"follow_request_sent":null,"notifications":null,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"pt"},{"created_at":"Tue
        Apr 24 17:21:45 +0000 2018","id":988830367481319424,"id_str":"988830367481319424","text":"RT
        @Nori_Studio: Capybara enamel pin, Capybara pin, cute animal pin https:\/\/t.co\/H1erDy2wRs
        via @Etsy #epiconetsy #etsychaching #etsymntt #\u2026","truncated":false,"entities":{"hashtags":[{"text":"epiconetsy","indices":[102,113]},{"text":"etsychaching","indices":[114,127]},{"text":"etsymntt","indices":[128,137]}],"symbols":[],"user_mentions":[...]
