---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - "<TOKEN>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 26 Apr 2018 21:32:49 GMT
      Ml:
      - A
      Status:
      - 200 OK
      X-Connection-Hash:
      - bfd0bb53bd37fcf6c720c0518f22ba0a
      X-Response-Time:
      - '122'
      X-Transaction:
      - 003cfdb30039cf8d
      X-Tsa-Request-Body-Time:
      - '0'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"token_type":"bearer","access_token":"AAAAAAAAAAAAAAAAAAAAAFgYCQAAAAAA8Jvm2Ln8cJJnGX8ndCWg%2F9Fyt7U%3DFLi0WSOekrITfy2XqWrkJdTi8yKqPvMOipiugk9thYnJNWPPFf"}'
  recorded_at: Thu, 26 Apr 2018 21:32:49 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=10&max_id&q=kfjsdnewqurewoue28712389fdckvdfaj
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 26 Apr 2018 21:32:49 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 2c0c60ac523b5147e833aa8d26361be4
      X-Rate-Limit-Limit:
      - '450'
      X-Rate-Limit-Remaining:
      - '439'
      X-Rate-Limit-Reset:
      - '1524778880'
      X-Response-Time:
      - '126'
      X-Transaction:
      - '00497e75002a9cff'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"statuses":[],"search_metadata":{"completed_in":0.013,"max_id":0,"max_id_str":"0","query":"kfjsdnewqurewoue28712389fdckvdfaj","count":10,"since_id":0,"since_id_str":"0"}}'
  recorded_at: Thu, 26 Apr 2018 21:32:49 GMT
recorded_with: VCR 4.0.0
