---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - "<TOKEN>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 26 Apr 2018 19:26:12 GMT
      Ml:
      - A
      Status:
      - 200 OK
      X-Connection-Hash:
      - 76ce4d26868a3597725ef4fc58f45b61
      X-Response-Time:
      - '461'
      X-Transaction:
      - '00980ebe00285b0e'
      X-Tsa-Request-Body-Time:
      - '0'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"token_type":"bearer","access_token":"AAAAAAAAAAAAAAAAAAAAAFgYCQAAAAAA8Jvm2Ln8cJJnGX8ndCWg%2F9Fyt7U%3DFLi0WSOekrITfy2XqWrkJdTi8yKqPvMOipiugk9thYnJNWPPFf"}'
  recorded_at: Thu, 26 Apr 2018 19:26:12 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=10&q=kfjsdnewqurewoue28712389fdckvdfaj&result_type=recent&since_id
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 26 Apr 2018 19:26:12 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - ff58ff3f0159899a9c19b3051d42e808
      X-Rate-Limit-Limit:
      - '450'
      X-Rate-Limit-Remaining:
      - '448'
      X-Rate-Limit-Reset:
      - '1524771671'
      X-Response-Time:
      - '129'
      X-Transaction:
      - 007b393f00666933
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"statuses":[],"search_metadata":{"completed_in":0.018,"max_id":989586399119790080,"max_id_str":"989586399119790080","query":"kfjsdnewqurewoue28712389fdckvdfaj","refresh_url":"?since_id=989586399119790080&q=kfjsdnewqurewoue28712389fdckvdfaj&result_type=recent&include_entities=1","count":10,"since_id":0,"since_id_str":"0"}}'
  recorded_at: Thu, 26 Apr 2018 19:26:12 GMT
recorded_with: VCR 4.0.0
