---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - "<TOKEN>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 26 Apr 2018 21:32:49 GMT
      Ml:
      - A
      Status:
      - 200 OK
      X-Connection-Hash:
      - 2bd6e48a16ddd441b6fe70dff33619b8
      X-Response-Time:
      - '119'
      X-Transaction:
      - 00f43dff0075e785
      X-Tsa-Request-Body-Time:
      - '1'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"token_type":"bearer","access_token":"AAAAAAAAAAAAAAAAAAAAAFgYCQAAAAAA8Jvm2Ln8cJJnGX8ndCWg%2F9Fyt7U%3DFLi0WSOekrITfy2XqWrkJdTi8yKqPvMOipiugk9thYnJNWPPFf"}'
  recorded_at: Thu, 26 Apr 2018 21:32:50 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=10&max_id&q=cute%20capybara
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 26 Apr 2018 21:32:50 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 1033d4781291a17f89e137ed9c793f54
      X-Rate-Limit-Limit:
      - '450'
      X-Rate-Limit-Remaining:
      - '438'
      X-Rate-Limit-Reset:
      - '1524778880'
      X-Response-Time:
      - '189'
      X-Transaction:
      - 007cd5b700602d43
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"statuses":[{"created_at":"Thu Apr 26 12:47:25 +0000 2018","id":989486102154182657,"id_str":"989486102154182657","text":"#cute
        #capybara #NewMum https:\/\/t.co\/ZKlCojBNyB","truncated":false,"entities":{"hashtags":[{"text":"cute","indices":[0,5]},{"text":"capybara","indices":[6,15]},{"text":"NewMum","indices":[16,23]}],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/ZKlCojBNyB","expanded_url":"https:\/\/twitter.com\/backt0nature\/status\/989096690475991042","display_url":"twitter.com\/backt0nature\/s\u2026","indices":[24,47]}]},"metadata":{"iso_language_code":"und","result_type":"recent"},"source":"\u003ca
        href=\"http:\/\/twitter.com\" rel=\"nofollow\"\u003eTwitter Web Client\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":719925424994848768,"id_str":"719925424994848768","name":"Jane
        Davidson","screen_name":"A_Place_Beyond","location":"Cumbria and Vancouver","description":"Author
        of A Place Beyond Hearing, a tale of redemption and, Blood Pudding, a darkly
        funny murder-mystery.  For sale on Amazon\/KIndle","url":"https:\/\/t.co\/zYcHykUyvZ","entities":{"url":{"urls":[{"url":"https:\/\/t.co\/zYcHykUyvZ","expanded_url":"http:\/\/amazon.co.uk","display_url":"amazon.co.uk","indices":[0,23]}]},"description":{"urls":[]}},"protected":false,"followers_count":615,"friends_count":1924,"listed_count":4,"created_at":"Tue
        Apr 12 16:29:31 +0000 2016","favourites_count":5811,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":2003,"lang":"en","contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"000000","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/981779032395210753\/7KmNFrvo_normal.jpg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/981779032395210753\/7KmNFrvo_normal.jpg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/719925424994848768\/1522909527","profile_link_color":"FF691F","profile_sidebar_border_color":"000000","profile_sidebar_fill_color":"000000","profile_text_color":"000000","profile_use_background_image":false,"has_extended_profile":false,"default_profile":false,"default_profile_image":false,"following":null,"follow_request_sent":null,"notifications":null,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":true,"quoted_status_id":989096690475991042,"quoted_status_id_str":"989096690475991042","quoted_status":{"created_at":"Wed
        Apr 25 11:00:02 +0000 2018","id":989096690475991042,"id_str":"989096690475991042","text":"Baby
        capybara... Those tiny little feet https:\/\/t.co\/nDG06vk5LZ","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[],"media":[{"id":988826614413840384,"id_str":"988826614413840384","indices":[40,63],"media_url":"http:\/\/pbs.twimg.com\/media\/DbkEkRiW0AAzRca.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/DbkEkRiW0AAzRca.jpg","url":"https:\/\/t.co\/nDG06vk5LZ","display_url":"pic.twitter.com\/nDG06vk5LZ","expanded_url":"https:\/\/twitter.com\/backt0nature\/status\/989096690475991042\/photo\/1","type":"photo","sizes":{"thumb":{"w":150,"h":150,"resize":"crop"},"large":{"w":960,"h":798,"resize":"fit"},"medium":{"w":960,"h":798,"resize":"fit"},"small":{"w":680,"h":565,"resize":"fit"}}}]},"extended_entities":{"media":[{"id":988826614413840384,"id_str":"988826614413840384","indices":[40,63],"media_url":"http:\/\/pbs.twimg.com\/media\/DbkEkRiW0AAzRca.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/DbkEkRiW0AAzRca.jpg","url":"https:\/\/t.co\/nDG06vk5LZ","display_url":"pic.twitter.com\/nDG06vk5LZ","expanded_url":"https:\/\/twitter.com\/backt0nature\/status\/989096690475991042\/photo\/1","type":"photo","sizes":{"thumb":{"w":150,"h":150,"resize":"crop"},"large":{"w":960,"h":798,"resize":"fit"},"me[...]
