---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - "<TOKEN>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 26 Apr 2018 19:08:24 GMT
      Ml:
      - A
      Status:
      - 403 Forbidden
      X-Connection-Hash:
      - 197269f36724e115679663c930fb2f65
      X-Response-Time:
      - '105'
      X-Transaction:
      - 00b1ad7200daf800
      X-Tsa-Request-Body-Time:
      - '0'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"errors":[{"code":99,"message":"Unable to verify your credentials","label":"authenticity_token_error"}]}'
  recorded_at: Thu, 26 Apr 2018 19:08:24 GMT
- request:
    method: get
    uri: https://api.twitter.com/1.1/search/tweets.json?count=10&q=cute%20capybara&result_type=recent&since_id
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - "<TOKEN>"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Connection-Hash:
      - db75a7667fb8bc8482b92ea0429d5814
      X-Response-Time:
      - '104'
    body:
      encoding: UTF-8
      string: '{"errors":[{"code":215,"message":"Bad Authentication data."}]}'
  recorded_at: Thu, 26 Apr 2018 19:08:25 GMT
recorded_with: VCR 4.0.0
